# Compiled class files
*.class

# Mac 
.DS_Store
# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Mac specific files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Icon must end with two \r
Icon

# The network volume info
Network Trash Folder
Temporary Items
.apdisk

# Eclipse specific files
.project
.classpath
.settings/
bin/
tmp/

# IntelliJ IDEA specific files
.idea/
*.iws
*.iml
*.ipr
out/

# NetBeans specific files
nbproject/private/
build/
nbbuild/
dist/
nblibraries.properties

# VS Code specific files
.vscode/

# Maven specific files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# Gradle specific files
.gradle/
build/

# Other files
# Classpath file
.classpath

# Project description file
.project

# .factorypath file
.factorypath

# SBT specific files
dist/*
target/
lib_managed/
src_managed/
.ensime_cache/
.idea_modules/

# Play Framework specific files
logs/
modules/
target/
tmp/

# Unwanted JAR files in the lib folder
lib/*.jar

# Android specific files
.gradle/
local.properties
*.iml
.idea/workspace.xml
.idea/libraries
.DS_Store
build/
.idea/caches
.idea/modules.xml
.idea/.name
.idea/gradle.xml
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/modules
.idea/watcherTasks.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/encodings.xml
.idea/copyright/profiles_settings.xml
.idea/scopes/scope_settings.xml
.idea/codeStyles/Project.xml
.idea/workspace.xml
.idea/.idea/
.idea/misc.xml
.idea/artifacts
.idea/dictionaries
.idea/libraries
.idea/.name
.idea/codeStyleSettings.xml
.idea/.template.xml
.idea/fileColors.xml
.idea/workspace.xml
.idea/misc.xml
.idea/copyright/profiles_settings.xml
.idea/scopes/scope_settings.xml
.idea/compiler.xml
.idea/codeStyles/
.idea/dictionaries/
.idea/jarRepositories.xml
.idea/caches/
.idea/modules.xml
.idea/modules
.idea/copyright/
.idea/libraries/
.idea/watcherTasks.xml
.idea/fileColors.xml
.idea/artifacts/
.idea/vcs.xml
.idea/tasks.xml
.idea/
.idea/modules.xml
.idea/workspace.xml
.idea/
build/
captures/
.externalNativeBuild/
